<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="RedisConfiguration" type="RedisConfig.RedisConfigurationSection, RedisConfig, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>
  <RedisConfiguration host="localhost" port="6379"/>
</configuration>